html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

code {
    font-size: 80%;
}

body>.container {
    padding: 10px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #212529;
    text-align: center;
}

.text-center {
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}